.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
Sandnox/bild.gradle
Sandnox/src/main/java/Programa.java
.idea/workspace.xml
Sandnox/bild.gradle
Sandnox/src/main/java/Programa.java
Sendbox/src/main/java/Programa2.java
Sendbox/src/main/java/Programa1.java
Sendbox/src/main/java/Programa1.java
Sendbox/src/main/java/Programa1.java
Sendbox/src/main/java/Programa1.java
Sendbox/gradle/wrapper/gradle-wrapper.properties
Sandnox/src/main/java/Programa.java
Sandnox/src/main/java/Programa.java
Sandnox/bild.gradle
Sendbox/gradle/wrapper/gradle-wrapper.properties
Sandnox/bild.gradle
Sendbox/.idea/workspace.xml
Sendbox/src/main/java/ru/stqa/pft/Sendbox/Programa1.java
Sendbox/.idea/workspace.xml
Sendbox/src/main/java/ru/stqa/pft/Sendbox/Programa1.java
Sendbox/.idea/encodings.xml
Sendbox/out/production/classes/ru/stqa/pft/Sendbox/Programa1.class
